<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/CalcularDinero.js"></script>
    
</head>

<body>

    <h1>Dinero</h1>
    <table border="1">
<thead>
    <th colspan="4">comvertidor de dinero</th>
</thead>
<tbody>
    <tr>
        <td>Ingrese valor</td>
        <td>
            <input type="dinero" name="txt_dinero" class="txt_dinero">
        </td>
    </tr>
   
</tbody>
<tfoot >

    <tr colspan="4">
        <td>
            <button class="CalculoDC">Calcular de dolar a clp</button>
        </td>
        <td>
            <button class="CalculoCD">Calcular de clp a dolar</button>
        </td>
    </tr>
    
</tfoot>


    </table>
    <div class="ResultadoDinero"></div>
    <br>
    <a href="../index.html">
        <button >Regresar</button>
    </a>
    
</body>
</html>