<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>distancia</title>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/CalcularDist.js"></script>
</head>
<body>
    <table border="1">
<thead>
    <th colspan="4">convertidor de kilometros a millas y millas a kilometros</th>
</thead>
<tbody>
    <tr>
        <td>Ingrese kilometro o millas</td>
        <td>
            <input type="distancia" name="txt_dist" class="txt_dist">
        </td>
    </tr>
   
</tbody>
<tfoot >

    <tr colspan="4">
        <td>
            <button class="CalculoKM">Calcular de K a M</button>
        </td>
        <td>
            <button class="CalculoMK">Calcular de M a K</button>
        </td>
    </tr>
    
</tfoot>
    </table>
    <div class="ResultadoDist"></div>
    <br>
    <a href="../index.html">
        <button >Regresar</button>
    </a>
</body>
</html>