<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kilos</title>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/CalcularKilos.js"></script>
</head>
<body>
    <table border="1">
        <thead>
            <th colspan="4">convertidor de kilos a libras </th>
        </thead>
        <tbody>
            <tr>
                <td>Ingrese kilos</td>
                <td>
                    <input type="kilos" name="txt_kilos" class="txt_kilos">
                </td>
            </tr>
           
        </tbody>
        <tfoot >
        
            <tr colspan="4">
                <td>
                    <button class="CalcularKilos">Calcular</button>
                </td>
            </tr>
            
        </tfoot>
            </table>
            <div class="ResultadoLibras"></div>
            <br>
            <a href="../index.html">
                <button >Regresar</button>
            </a>
    
</body>
</html>