<!DOCTYPE html>
<html lang="e">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperatura</title>
    <script src="../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/CalcularTem.js"></script>
</head>
<body>
    <h1>Temperatura</h1>
    <table border="1">
<thead>
    <th colspan="4">convertidor de Temperatura</th>
</thead>
<tbody>
    <tr>
        <td>Ingrese Temperatura</td>
        <td>
            <input type="temperatura" name="txt_temp" class="txt_temp">
        </td>
    </tr>
   
</tbody>
<tfoot >

    <tr colspan="4">
        <td>
            <button class="CalculoCF">Calcular de C a F</button>
        </td>
        <td>
            <button class="CalculoFC">Calcular de F a C</button>
        </td>
    </tr>
    
</tfoot>


    </table>
    <div class="ResultadoTemp"></div>
    <br>
    <a href="../index.html">
        <button >Regresar</button>
    </a>
</body>
</html>